<div class="dashboard-menu">
  <h1 class="dashboard-title">Dashboard</h1>
  <div class="dashboard-options">
    <a routerLink="/patients" class="dashboard-card">
      <span>View Patients</span>
    </a>
    <a routerLink="/doctors" class="dashboard-card">
      <span>View Doctors</span>
    </a>
    <a routerLink="/patientvisits" class="dashboard-card">
      <span>View Patient Visits</span>
    </a>
    <a routerLink="/visit-types" class="dashboard-card">
      <span>View Visit Types</span>
    </a>
  </div>
</div>
